<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners</title>
</head>
<body>
    {% if rows %}
        <table border="1" style="border-collapse:collapse;">
            <tr>
                <th>Owner Id</th>
                <th>Owner Name</th>
                <th>Action</th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td><a href="{{ url_for('modifyOwner', ownerId=row[0]) }}">Modify</a> | <a href="{{ url_for('deleteOwner', ownerId=row[0]) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No data to display
    {% endif %}
</body>
</html>